<a href="https://colab.research.google.com/github/sadicsha/Python/blob/main/python_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**sum of squares of first n numbers**

In [ ]:
n= int(input('Enter the first N numbers '))
sum = (n*(n+1)*(2*n+1))/6
print("sum of squares of first n numbers is : ",sum)

Enter the first N numbers 5
sum of squares of first n numbers is :  55.0

**cube sum of first n natural numbers**

In [ ]:
n= int(input('Enter the first N numbers '))
cube =(n* ( n + 1 ) / 2) ** 2
print("cube of first n numbers is: ", cube)

Enter the first N numbers 5
cube of first n numbers is:  225.0

**SQUARE ROOT**

In [ ]:
n= int(input('Enter the number '))
sqr_root = n**0.5
print(sqr_root)

Enter the number 9
3.0

**AREA OF TRIANGLE**

In [ ]:
a =1
b =3
c =5
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('the area of triangle is: ' ,area)

the area of triangle is:  (2.1045137462542978e-16+3.43693177121688j)

**SWAPPING TWO VARIABLES**

In [ ]:
a= input('enter value of a: ') 
b= input('enter value of b: ') 

c=a
a=b
b=c

print('the value of a after swapping:  ',a)
print('the value of b after swapping:  ',b)

enter value of a: 1
enter value of b: 2
the value of a after swapping:   2
the value of b after swapping:   1

**SWAPPING WITH VARIABLE**

In [ ]:
x=5
y=2
x,y=y,x
print("x=",x)
print("y=",y)

x= 2
y= 5

**TO GENERATE RANDOM NUMBER 0 N 9**

In [ ]:
import random 
print(random.randint(0,9))

8

**CONVERT KILOMETERS INTO MILES**

In [ ]:
kilo_meter = float(input('enter the value: '))
conv_fac=0.621371
miles=kilo_meter*conv_fac
print('%0.2f kilometer is equall to %0.2f miles' %(kilo_meter, miles))

enter the value: 4.5
4.50 kilometer is equall to 2.80 miles

**CONVERT CELSIUS TO FAHRENITE**

In [ ]:
celsius = float(input('enter celsius: '))
fahrenite = (celsius*1.8)+ 32
print('%0.2f degree Celsius is equal to %0.2f Fahrenite' %(celsius,fahrenite))

enter celsius: 37.5
37.50 degree Celsius is equal to 99.50 Fahrenite

**NUMBER IS NEGATIVE, POSITIVE OR 0**

In [ ]:
num = float(input('Enter the number: '))
if num==0:
  print("NUMBER IS ZERO")
elif num>=1:
    print("number is positive")
else:
    print("NUMBER IS NEGETIVE")

Enter the number: 46
number is positive

**TO CHECK LEAP YEAR**

In [ ]:
year = int(input('ENTER YEAR: '))
if (year % 4) == 0:
  if (year %100) ==0:
    if (year %400) ==0:
      print("{0} is a leap year ".format(year))
    else:
        print("{0} not a leap year" .format(year))
  else:
      print("{0} not a leap year" .format(year))
else:
  print("{0} not a leap year" .format(year))

ENTER YEAR: 2000
2000 is a leap year

**MULTIPLICATION TABLE**

In [ ]:
num = int(input('ENTER THE NUMBER:'))
for i in range (1,11):
  print(num,'x',i,'=',num*i)

ENTER THE NUMBER:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50